name: Build JVM

on:
  workflow_call:

jobs:
  build:
    name: Build (Spark ${{ matrix.spark-version }} Scala ${{ matrix.scala-version }})
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - spark-version: '3.2.4'
            spark-compat-version: '3.2'
            scala-compat-version: '2.12'
            scala-version: '2.12.15'
            java-compat-version: '8'
            hadoop-version: '2.7'
          - spark-version: '3.3.4'
            spark-compat-version: '3.3'
            scala-compat-version: '2.12'
            scala-version: '2.12.15'
            java-compat-version: '8'
            hadoop-version: '3'
          - spark-version: '3.4.4'
            spark-compat-version: '3.4'
            scala-compat-version: '2.12'
            scala-version: '2.12.17'
            java-compat-version: '8'
            hadoop-version: '3'
          - spark-version: '3.5.8'
            spark-compat-version: '3.5'
            scala-compat-version: '2.12'
            scala-version: '2.12.18'
            java-compat-version: '8'
            hadoop-version: '3'

          - spark-version: '3.2.4'
            spark-compat-version: '3.2'
            scala-compat-version: '2.13'
            scala-version: '2.13.5'
            java-compat-version: '8'
            hadoop-version: '3.2'
          - spark-version: '3.3.4'
            spark-compat-version: '3.3'
            scala-compat-version: '2.13'
            scala-version: '2.13.8'
            java-compat-version: '8'
            hadoop-version: '3'
          - spark-version: '3.4.4'
            spark-compat-version: '3.4'
            scala-compat-version: '2.13'
            scala-version: '2.13.8'
            java-compat-version: '8'
            hadoop-version: '3'
          - spark-version: '3.5.8'
            spark-compat-version: '3.5'
            scala-compat-version: '2.13'
            scala-version: '2.13.8'
            java-compat-version: '8'
            hadoop-version: '3'
          - spark-version: '4.0.1'
            spark-compat-version: '4.0'
            scala-compat-version: '2.13'
            scala-version: '2.13.16'
            java-compat-version: '17'
            hadoop-version: '3'
          - spark-version: '4.1.1'
            spark-compat-version: '4.1'
            scala-compat-version: '2.13'
            scala-version: '2.13.17'
            java-compat-version: '17'
            hadoop-version: '3'
          - spark-version: '4.2.0-preview1'
            spark-compat-version: '4.2'
            scala-compat-version: '2.13'
            scala-version: '2.13.18'
            java-compat-version: '17'
            hadoop-version: '3'

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        uses: ./.github/actions/build
        with:
          spark-version: ${{ matrix.spark-version }}
          scala-version: ${{ matrix.scala-version }}
          spark-compat-version: ${{ matrix.spark-compat-version }}
          scala-compat-version: ${{ matrix.scala-compat-version }}
          java-compat-version: ${{ matrix.java-compat-version }}
          hadoop-version: ${{ matrix.hadoop-version }}
