name: Build Snapshots

on:
  workflow_call:

jobs:
  build:
    name: Build (Spark ${{ matrix.spark-version }} Scala ${{ matrix.scala-version }})
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - spark-compat-version: '3.2'
            spark-version: '3.2.5-SNAPSHOT'
            scala-compat-version: '2.12'
            scala-version: '2.12.15'
            java-compat-version: '8'
          - spark-compat-version: '3.3'
            spark-version: '3.3.4-SNAPSHOT'
            scala-compat-version: '2.12'
            scala-version: '2.12.15'
            java-compat-version: '8'
          - spark-compat-version: '3.4'
            spark-version: '3.4.2-SNAPSHOT'
            scala-compat-version: '2.12'
            scala-version: '2.12.17'
            java-compat-version: '8'
          - spark-compat-version: '3.5'
            spark-version: '3.5.1-SNAPSHOT'
            scala-compat-version: '2.12'
            scala-version: '2.12.18'
            java-compat-version: '8'
          - spark-compat-version: '4.0'
            spark-version: '4.0.0-SNAPSHOT'
            scala-compat-version: '2.12'
            scala-version: '2.12.18'
            java-compat-version: '8'

          - spark-compat-version: '3.2'
            spark-version: '3.2.5-SNAPSHOT'
            scala-compat-version: '2.13'
            scala-version: '2.13.5'
            java-compat-version: '8'
          - spark-compat-version: '3.3'
            spark-version: '3.3.4-SNAPSHOT'
            scala-compat-version: '2.13'
            scala-version: '2.13.8'
            java-compat-version: '8'
          - spark-compat-version: '3.4'
            spark-version: '3.4.2-SNAPSHOT'
            scala-compat-version: '2.13'
            scala-version: '2.13.8'
            java-compat-version: '8'
          - spark-compat-version: '3.5'
            spark-version: '3.5.1-SNAPSHOT'
            scala-compat-version: '2.13'
            scala-version: '2.13.8'
            java-compat-version: '8'
          - spark-compat-version: '4.0'
            spark-version: '4.0.0-SNAPSHOT'
            scala-compat-version: '2.13'
            scala-version: '2.13.8'
            java-compat-version: '11'

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build
        uses: ./.github/actions/build
        with:
          spark-version: ${{ matrix.spark-version }}
          scala-version: ${{ matrix.scala-version }}
          spark-compat-version: ${{ matrix.spark-compat-version }}-SNAPSHOT
          scala-compat-version: ${{ matrix.scala-compat-version }}
          java-compat-version: ${{ matrix.java-compat-version }}
