name: CI

on:
  schedule:
    - cron: '0 8 * * *'
  push:
    branches:
      - master
    tags:
      - '*'
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Build (Spark ${{ matrix.spark-version }} Scala ${{ matrix.scala-version }})
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        spark-compat-version: ['3.0', '3.1', '3.2', '3.3', '3.4']
        scala-compat-version: ['2.12', '2.13']
        exclude:
          - spark-compat-version: '3.0'
            scala-compat-version: '2.13'
          - spark-compat-version: '3.1'
            scala-compat-version: '2.13'
        include:
          - spark-compat-version: '3.0'
            spark-version: '3.0.3'
          - spark-compat-version: '3.1'
            spark-version: '3.1.3'
          - spark-compat-version: '3.2'
            spark-version: '3.2.2'
          - spark-compat-version: '3.3'
            spark-version: '3.3.0'
          - spark-compat-version: '3.4'
            spark-version: '3.4.0-SNAPSHOT'

          - spark-compat-version: '3.0'
            scala-compat-version: '2.12'
            scala-version: '2.12.10'
          - spark-compat-version: '3.1'
            scala-compat-version: '2.12'
            scala-version: '2.12.10'
          - spark-compat-version: '3.2'
            scala-compat-version: '2.12'
            scala-version: '2.12.15'
          - spark-compat-version: '3.3'
            scala-compat-version: '2.12'
            scala-version: '2.12.15'
          - spark-compat-version: '3.4'
            scala-compat-version: '2.12'
            scala-version: '2.12.16'

          - spark-compat-version: '3.2'
            scala-compat-version: '2.13'
            scala-version: '2.13.5'
          - spark-compat-version: '3.3'
            scala-compat-version: '2.13'
            scala-version: '2.13.8'
          - spark-compat-version: '3.4'
            scala-compat-version: '2.13'
            scala-version: '2.13.8'

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set versions in pom.xml
        run: |
          ./set-version.sh ${{ matrix.spark-version }} ${{ matrix.scala-version }}
          git diff

      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-mvn-build-${{ matrix.spark-version }}-${{ matrix.scala-version }}-${{ hashFiles('pom.xml') }}

      - name: Setup JDK 1.8
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'zulu'

      - name: Build
        run: mvn --batch-mode --update-snapshots compile test-compile package -DskipTests -Dmaven.test.skip=true

      - name: Upload Binaries
        uses: actions/upload-artifact@v3
        with:
          name: Binaries-${{ matrix.spark-version }}-${{ matrix.scala-version }}
          path: |
            *
            !.*
            !target/*-javadoc.jar
            !target/site

  test:
    name: Test (Spark ${{ matrix.spark-version }} Scala ${{ matrix.scala-version }} Python ${{ matrix.python-version }})
    runs-on: ubuntu-latest
    needs: build

    strategy:
      fail-fast: false
      matrix:
        spark-compat-version: ['3.0', '3.1', '3.2', '3.3', '3.4']
        scala-compat-version: ['2.12', '2.13']
        python-version: ['3.8']
        exclude:
          - spark-compat-version: '3.0'
            scala-compat-version: '2.13'

          - spark-compat-version: '3.1'
            scala-compat-version: '2.13'
        include:
          - spark-compat-version: '3.0'
            spark-version: '3.0.3'
          - spark-compat-version: '3.1'
            spark-version: '3.1.3'
          - spark-compat-version: '3.2'
            spark-version: '3.2.2'
          - spark-compat-version: '3.3'
            spark-version: '3.3.0'
          - spark-compat-version: '3.4'
            spark-version: '3.4.0-SNAPSHOT'

          - spark-compat-version: '3.0'
            scala-compat-version: '2.12'
            scala-version: '2.12.10'
          - spark-compat-version: '3.1'
            scala-compat-version: '2.12'
            scala-version: '2.12.10'
          - spark-compat-version: '3.2'
            scala-compat-version: '2.12'
            scala-version: '2.12.15'
          - spark-compat-version: '3.3'
            scala-compat-version: '2.12'
            scala-version: '2.12.15'
          - spark-compat-version: '3.4'
            scala-compat-version: '2.12'
            scala-version: '2.12.16'

          - spark-compat-version: '3.2'
            scala-compat-version: '2.13'
            scala-version: '2.13.5'
          - spark-compat-version: '3.3'
            scala-compat-version: '2.13'
            scala-version: '2.13.8'
          - spark-compat-version: '3.4'
            scala-compat-version: '2.13'
            scala-version: '2.13.8'

          - spark-compat-version: '3.0'
            spark-version: '3.0.3'
            scala-compat-version: '2.12'
            scala-version: '2.12.10'
            python-version: '3.7'
          - spark-compat-version: '3.1'
            spark-version: '3.1.3'
            scala-compat-version: '2.12'
            scala-version: '2.12.10'
            python-version: '3.7'

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set versions in pom.xml
        run: |
          ./set-version.sh ${{ matrix.spark-version }} ${{ matrix.scala-version }}
          git diff

      - name: Fetch Binaries Artifact
        uses: actions/download-artifact@v3
        with:
          name: Binaries-${{ matrix.spark-version }}-${{ matrix.scala-version }}
          path: .

      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-mvn-build-${{ matrix.spark-version }}-${{ matrix.scala-version }}-${{ hashFiles('pom.xml') }}

      - name: Setup JDK 1.8
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'zulu'

      - name: Cache Pip packages
        # pyspark is not available for snapshots or scala other than 2.12
        # we would have to compile spark from sources for this, not worth it
        if: matrix.scala-compat-version == '2.12' && ! contains(matrix.spark-version, 'SNAPSHOT')
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-test-${{ matrix.python-version }}-${{ hashFiles('requirements.txt') }}

      - name: Setup Python
        # pyspark is not available for snapshots or scala other than 2.12
        # we would have to compile spark from sources for this, not worth it
        if: matrix.scala-compat-version == '2.12' && ! contains(matrix.spark-version, 'SNAPSHOT')
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Python dependencies
        # pyspark is not available for snapshots or scala other than 2.12
        # we would have to compile spark from sources for this, not worth it
        if: matrix.scala-compat-version == '2.12' && ! contains(matrix.spark-version, 'SNAPSHOT')
        run: |
          python -m pip install --upgrade pip
          pip install pypandoc
          pip install -r python/requirements-${{ matrix.spark-compat-version }}_${{ matrix.scala-compat-version }}.txt
          pip install pytest

      - name: Scala and Java Tests
        run: mvn --batch-mode test

      - name: Python Tests
        # pyspark is not available for snapshots or scala other than 2.12
        # we would have to compile spark from sources for this, not worth it
        if: matrix.scala-compat-version == '2.12' && ! contains(matrix.spark-version, 'SNAPSHOT')
        env:
          PYTHONPATH: python:python/test
        run: |
          mkdir -p target/surefire-reports
          python -m pytest python/test --junit-xml target/surefire-reports/pytest.xml

      - name: Generate Unit Test Report
        if: failure()
        run: mvn --batch-mode surefire-report:report-only

      - name: Upload Unit Test Results
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: Unit Test Results (Spark ${{ matrix.spark-version }} Scala ${{ matrix.scala-version }} Python ${{ matrix.python-version }})
          path: |
            target/surefire-reports/*.xml
            !target/surefire-reports/TEST-org.scalatest*.xml
            target/site/surefire-report.html

  event_file:
    name: "Event File"
    runs-on: ubuntu-latest
    steps:
      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          name: Event File
          path: ${{ github.event_path }}
