name: Prime caches

on:
  workflow_dispatch:

jobs:
  prime:
    name: Spark ${{ matrix.spark-compat-version }}.${{ matrix.spark-patch-version }}${{ matrix.spark-snapshot-version && '-SNAPSHOT' }} Scala ${{ matrix.scala-version }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      # keep in-sync with .github/workflows/test-jvm.yml
      matrix:
        include:
          - spark-compat-version: '3.2'
            scala-compat-version: '2.12'
            scala-version: '2.12.15'
            spark-patch-version: '4'
            hadoop-version: '2.7'
          - spark-compat-version: '3.3'
            scala-compat-version: '2.12'
            scala-version: '2.12.15'
            spark-patch-version: '4'
            hadoop-version: '3'
          - spark-compat-version: '3.4'
            scala-compat-version: '2.12'
            scala-version: '2.12.17'
            spark-patch-version: '4'
            hadoop-version: '3'
          - spark-compat-version: '3.5'
            scala-compat-version: '2.12'
            scala-version: '2.12.18'
            spark-patch-version: '7'
            hadoop-version: '3'

          - spark-compat-version: '3.2'
            scala-compat-version: '2.13'
            scala-version: '2.13.5'
            spark-patch-version: '4'
            hadoop-version: '3.2'
          - spark-compat-version: '3.3'
            scala-compat-version: '2.13'
            scala-version: '2.13.8'
            spark-patch-version: '4'
            hadoop-version: '3'
          - spark-compat-version: '3.4'
            scala-compat-version: '2.13'
            scala-version: '2.13.8'
            spark-patch-version: '4'
            hadoop-version: '3'
          - spark-compat-version: '3.5'
            scala-compat-version: '2.13'
            scala-version: '2.13.8'
            spark-patch-version: '7'
            hadoop-version: '3'
          - spark-compat-version: '4.0'
            scala-compat-version: '2.13'
            scala-version: '2.13.16'
            spark-patch-version: '1'
            java-compat-version: '17'
            hadoop-version: '3'
          - spark-compat-version: '4.1'
            scala-compat-version: '2.13'
            scala-version: '2.13.17'
            spark-patch-version: '1'
            java-compat-version: '17'
            hadoop-version: '3'
          - spark-compat-version: '4.2'
            scala-compat-version: '2.13'
            scala-version: '2.13.18'
            spark-patch-version: '0-preview1'
            java-compat-version: '17'
            hadoop-version: '3'

          - spark-compat-version: '3.2'
            scala-compat-version: '2.12'
            scala-version: '2.12.15'
            spark-patch-version: '5'
            spark-snapshot-version: true
            hadoop-version: '2.7'
          - spark-compat-version: '3.3'
            scala-compat-version: '2.12'
            scala-version: '2.12.15'
            spark-patch-version: '5'
            spark-snapshot-version: true
            hadoop-version: '3'
          - spark-compat-version: '3.4'
            scala-compat-version: '2.12'
            scala-version: '2.12.17'
            spark-patch-version: '5'
            spark-snapshot-version: true
            hadoop-version: '3'
          - spark-compat-version: '3.5'
            scala-compat-version: '2.12'
            scala-version: '2.12.18'
            spark-patch-version: '8'
            spark-snapshot-version: true
            hadoop-version: '3'

          - spark-compat-version: '3.2'
            scala-compat-version: '2.13'
            scala-version: '2.13.5'
            spark-patch-version: '5'
            spark-snapshot-version: true
            hadoop-version: '3.2'
          - spark-compat-version: '3.3'
            scala-compat-version: '2.13'
            scala-version: '2.13.8'
            spark-patch-version: '5'
            spark-snapshot-version: true
            hadoop-version: '3'
          - spark-compat-version: '3.4'
            scala-compat-version: '2.13'
            scala-version: '2.13.8'
            spark-patch-version: '5'
            spark-snapshot-version: true
            hadoop-version: '3'
          - spark-compat-version: '3.5'
            scala-compat-version: '2.13'
            scala-version: '2.13.8'
            spark-patch-version: '8'
            spark-snapshot-version: true
            hadoop-version: '3'
          - spark-compat-version: '4.0'
            scala-compat-version: '2.13'
            scala-version: '2.13.16'
            spark-patch-version: '2'
            spark-snapshot-version: true
            hadoop-version: '3'
          - spark-compat-version: '4.1'
            scala-compat-version: '2.13'
            scala-version: '2.13.17'
            spark-patch-version: '2'
            spark-snapshot-version: true
            hadoop-version: '3'
          - spark-compat-version: '4.2'
            scala-compat-version: '2.13'
            scala-version: '2.13.18'
            spark-patch-version: '0'
            spark-snapshot-version: true
            hadoop-version: '3'

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Prime caches
        uses: ./.github/actions/prime-caches
        with:
          spark-version: ${{ matrix.spark-compat-version }}.${{ matrix.spark-patch-version }}${{ matrix.spark-snapshot-version && '-SNAPSHOT' }}
          scala-version: ${{ matrix.scala-version }}
          spark-compat-version: ${{ matrix.spark-compat-version }}
          scala-compat-version: ${{ matrix.scala-compat-version }}
          hadoop-version: ${{ matrix.hadoop-version }}
          java-compat-version: '8'
