name: Publish snapshot

on:
  workflow_dispatch:
  push:
    branches: ["master"]

env:
  PYTHON_VERSION: "3.10"

jobs:
  snapshot:
    name: Snapshot Spark ${{ matrix.params.spark-version }} Scala ${{ matrix.params.scala-version }}
    if: ${{ !github.event.repository.fork }}
    runs-on: ubuntu-latest
    # secrets are provided by environment
    environment:
      name: snapshot
      url: '${{ github.event.head_commit.url}}?spark=${{ matrix.params.spark-version }}&scala=${{ matrix.params.scala-version }}'
    permissions: {}
    strategy:
      fail-fast: false
      matrix:
        include:
          - params: {"spark-version": "3.0.3", "scala-version": "2.12.10"}
          - params: {"spark-version": "3.1.3", "scala-version": "2.12.10"}
          - params: {"spark-version": "3.2.4", "scala-version": "2.12.15"}
          - params: {"spark-version": "3.3.4", "scala-version": "2.12.15"}
          - params: {"spark-version": "3.4.4", "scala-version": "2.12.17"}
          - params: {"spark-version": "3.5.5", "scala-version": "2.12.18"}
          - params: {"spark-version": "3.2.4", "scala-version": "2.13.5"}
          - params: {"spark-version": "3.3.4", "scala-version": "2.13.8"}
          - params: {"spark-version": "3.4.4", "scala-version": "2.13.8"}
          - params: {"spark-version": "3.5.5", "scala-version": "2.13.8"}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK and publish to Maven Central
        uses: actions/setup-java@3a4f6e1af504cf6a31855fa899c6aa5355ba6c12  # v4.7.0
        with:
          java-version: '8'
          distribution: 'corretto'
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE

      - name: Inspect GPG
        run: gpg -k

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Restore Maven packages cache
        id: cache-maven
        uses: actions/cache/restore@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-mvn-build-${{ matrix.params.spark-version }}-${{ matrix.params.scala-version }}-${{ hashFiles('pom.xml') }}
          restore-keys: ${{ runner.os }}-mvn-build-${{ matrix.params.spark-version }}-${{ matrix.params.scala-version }}-

      - name: Check if this is a SNAPSHOT version
        id: check-snapshot
        run: |
          if ! grep -q "<version>.*-SNAPSHOT</version>" pom.xml
          then
            echo "Version in pom is not a SNAPSHOT version, cannot test all versions"
            exit 1
          fi

      - name: Release snapshot
        id: snapshot
        run: |
          ./set-version.sh ${{ matrix.params.spark-version }} ${{ matrix.params.scala-version }}
          mvn clean deploy -Dsign -Dspotless.check.skip -DskipTests -Dmaven.test.skip=true
        env:
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE}}

      - name: Prepare PyPi package to test release
        if: ${{ matrix.params.scala-version }} == 2.12*
        run: |
          # Build whl
          ./build-whl.sh

      - name: Restore Spark Binaries cache
        uses: actions/cache/restore@v4
        with:
          path: ~/spark-${{ inputs.spark-version }}-${{ inputs.scala-compat-version }}
          key: ${{ runner.os }}-spark-binaries-${{ inputs.spark-version }}-${{ inputs.scala-compat-version }}
          restore-keys:
            ${{ runner.os }}-spark-binaries-${{ inputs.spark-version }}-${{ inputs.scala-compat-version }}

      - name: Test release
        id: test-package
        run: |
          # Test the release (needs whl)
          ./test-release.sh
