name: Test release

on:
  workflow_call:

jobs:
  test:
    name: Test Release Spark ${{ matrix.spark-version }} Scala ${{ matrix.scala-version }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - spark-compat-version: '3.0'
            spark-version: '3.0.3'
            scala-compat-version: '2.12'
            scala-version: '2.12.10'
            java-compat-version: '8'
            hadoop-version: '2.7'
            python-version: '3.8'
          - spark-compat-version: '3.1'
            spark-version: '3.1.3'
            scala-compat-version: '2.12'
            scala-version: '2.12.10'
            java-compat-version: '8'
            hadoop-version: '2.7'
            python-version: '3.8'
          - spark-compat-version: '3.2'
            spark-version: '3.2.4'
            scala-compat-version: '2.12'
            scala-version: '2.12.15'
            java-compat-version: '8'
            hadoop-version: '2.7'
            python-version: '3.9'
          - spark-compat-version: '3.3'
            spark-version: '3.3.4'
            scala-compat-version: '2.12'
            scala-version: '2.12.15'
            java-compat-version: '8'
            hadoop-version: '3'
            python-version: '3.10'
          - spark-compat-version: '3.4'
            spark-version: '3.4.4'
            scala-compat-version: '2.12'
            scala-version: '2.12.17'
            java-compat-version: '8'
            hadoop-version: '3'
            python-version: '3.11'
          - spark-compat-version: '3.5'
            spark-version: '3.5.7'
            scala-compat-version: '2.12'
            scala-version: '2.12.18'
            java-compat-version: '8'
            hadoop-version: '3'
            python-version: '3.11'

          - spark-compat-version: '3.2'
            spark-version: '3.2.4'
            scala-compat-version: '2.13'
            scala-version: '2.13.5'
            java-compat-version: '8'
            hadoop-version: '3.2'
          - spark-compat-version: '3.3'
            spark-version: '3.3.4'
            scala-compat-version: '2.13'
            scala-version: '2.13.8'
            java-compat-version: '8'
            hadoop-version: '3'
          - spark-compat-version: '3.4'
            spark-version: '3.4.4'
            scala-compat-version: '2.13'
            scala-version: '2.13.8'
            java-compat-version: '8'
            hadoop-version: '3'
          - spark-compat-version: '3.5'
            spark-version: '3.5.7'
            scala-compat-version: '2.13'
            scala-version: '2.13.8'
            java-compat-version: '8'
            hadoop-version: '3'
          - spark-compat-version: '4.0'
            spark-version: '4.0.1'
            scala-compat-version: '2.13'
            scala-version: '2.13.16'
            java-compat-version: '17'
            hadoop-version: '3'
            python-version: '3.13'

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Test
        uses: ./.github/actions/test-release
        with:
          spark-version: ${{ matrix.spark-version }}
          scala-version: ${{ matrix.scala-version }}
          spark-compat-version: ${{ matrix.spark-compat-version }}
          spark-archive-url: ${{ matrix.spark-archive-url }}
          scala-compat-version: ${{ matrix.scala-compat-version }}
          java-compat-version: ${{ matrix.java-compat-version }}
          hadoop-version: ${{ matrix.hadoop-version }}
          python-version: ${{ matrix.python-version }}

