name: Test JVM

on:
  workflow_call:

jobs:
  test:
    name: Test (Spark ${{ matrix.spark-compat-version }}.${{ matrix.spark-patch-version }} Scala ${{ matrix.scala-version }})
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      # keep in-sync with .github/workflows/prime-caches.yml
      matrix:
        scala-compat-version: ['2.12', '2.13']
        spark-compat-version: ['3.4', '3.5']
        spark-patch-version: ['0', '1', '2', '3', '4']

        include:
          - spark-compat-version: '3.0'
            scala-compat-version: '2.12'
            scala-version: '2.12.10'
            spark-patch-version: '3'
            java-compat-version: '8'
            hadoop-version: '2.7'
          - spark-compat-version: '3.1'
            scala-compat-version: '2.12'
            scala-version: '2.12.10'
            spark-patch-version: '3'
            java-compat-version: '8'
            hadoop-version: '2.7'
          - spark-compat-version: '3.2'
            scala-compat-version: '2.12'
            scala-version: '2.12.15'
            spark-patch-version: '4'
            java-compat-version: '8'
            hadoop-version: '2.7'
          - spark-compat-version: '3.3'
            scala-compat-version: '2.12'
            scala-version: '2.12.15'
            spark-patch-version: '4'
            java-compat-version: '8'
            hadoop-version: '3'
          - spark-compat-version: '3.4'
            scala-compat-version: '2.12'
            scala-version: '2.12.17'
            java-compat-version: '8'
            hadoop-version: '3'
          - spark-compat-version: '3.5'
            scala-compat-version: '2.12'
            scala-version: '2.12.18'
            java-compat-version: '8'
            hadoop-version: '3'
          - spark-compat-version: '3.5'
            scala-compat-version: '2.12'
            scala-version: '2.12.18'
            spark-patch-version: '5'
            java-compat-version: '8'
            hadoop-version: '3'

          - spark-compat-version: '3.2'
            scala-compat-version: '2.13'
            scala-version: '2.13.5'
            spark-patch-version: '4'
            java-compat-version: '8'
            hadoop-version: '3.2'
          - spark-compat-version: '3.3'
            scala-compat-version: '2.13'
            scala-version: '2.13.8'
            spark-patch-version: '4'
            java-compat-version: '8'
            hadoop-version: '3'
          - spark-compat-version: '3.4'
            scala-compat-version: '2.13'
            scala-version: '2.13.8'
            java-compat-version: '8'
            hadoop-version: '3'
          - spark-compat-version: '3.5'
            scala-compat-version: '2.13'
            scala-version: '2.13.8'
            java-compat-version: '8'
            hadoop-version: '3'
          - spark-compat-version: '3.5'
            scala-compat-version: '2.13'
            scala-version: '2.13.8'
            spark-patch-version: '5'
            java-compat-version: '8'
            hadoop-version: '3'
          - spark-compat-version: '4.0'
            scala-compat-version: '2.13'
            scala-version: '2.13.16'
            spark-patch-version: '0'
            spark-archive-url: https://dist.apache.org/repos/dist/dev/spark/v4.0.0-rc2-bin/spark-4.0.0-bin-hadoop3.tgz
            java-compat-version: '17'
            hadoop-version: '3'

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Test
        uses: ./.github/actions/test-jvm
        env:
          CI_SLOW_TESTS: 1
        with:
          spark-version: ${{ matrix.spark-compat-version }}.${{ matrix.spark-patch-version }}
          scala-version: ${{ matrix.scala-version }}
          spark-compat-version: ${{ matrix.spark-compat-version }}
          spark-archive-url: ${{ matrix.spark-archive-url }}
          scala-compat-version: ${{ matrix.scala-compat-version }}
          java-compat-version: ${{ matrix.java-compat-version }}
          hadoop-version: ${{ matrix.hadoop-version }}
