name: Test Python

on:
  workflow_call:
  pull_request:

jobs:
  # pyspark is not available for snapshots or scala other than 2.12
  # we would have to compile spark from sources for this, not worth it
  test:
    name: Test (Spark ${{ matrix.spark-version }} Scala ${{ matrix.scala-version }} Python ${{ matrix.python-version }})
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        spark-compat-version: ['3.2', '3.3', '3.4', '3.5']
        python-version: ['3.8', '3.9', '3.10']

        include:
          - spark-compat-version: '3.0'
            spark-version: '3.0.3'
            scala-compat-version: '2.12'
            scala-version: '2.12.10'
            python-version: '3.8'
          - spark-compat-version: '3.1'
            spark-version: '3.1.3'
            scala-compat-version: '2.12'
            scala-version: '2.12.10'
            python-version: '3.8'
          - spark-compat-version: '3.2'
            spark-version: '3.2.4'
            scala-compat-version: '2.12'
            scala-version: '2.12.15'
          - spark-compat-version: '3.3'
            spark-version: '3.3.4'
            scala-compat-version: '2.12'
            scala-version: '2.12.15'
          - spark-compat-version: '3.4'
            spark-version: '3.4.2'
            scala-compat-version: '2.12'
            scala-version: '2.12.17'
          - spark-compat-version: '3.5'
            spark-version: '3.5.1'
            scala-compat-version: '2.12'
            scala-version: '2.12.18'

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Test
        uses: ./.github/actions/test-python
        with:
          spark-version: ${{ matrix.spark-version }}
          scala-version: ${{ matrix.scala-version }}
          spark-compat-version: ${{ matrix.spark-compat-version }}
          scala-compat-version: ${{ matrix.scala-compat-version }}
          python-version: ${{ matrix.python-version }}
